@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid; */

}

.navbar{
    min-width: 576px;
}

.odin-font{
    font-family: "Caesar Dressing", system-ui;
}

.nav-link{
    color: #6b8280;
}

.nav-link:hover{
    color: black;
}

.nav-hover-custom:hover{
    color: black;
    border-bottom: 2px solid #6b8280;
}

.nav-link:visited{
    color: #6b8280;
}

.nav-btn-custom{
    background-color: rgb(15 118 110);
    color: white;
}

.nav-btn-custom:hover{
    background-color: rgb(14, 105, 97);
}

.off-canvas-nav-item{
    display: none;
}

@media only screen and (max-width: 992px){

    .nav-odin-text{
        display: none;
    }
    
}

@media only screen and (max-width: 768px){

    .nav-item{
        display: none;
    }
    .off-canvas-nav-item{
        display: block;
    }
    
}

.width-container{
    width: 70%;
    min-width: 576px;
    margin: auto;
}

.gray-container-custom{
    background-color: rgb(243 244 246);
    min-width: 576px;
}

.overview{
    background-color: white;
    border-radius: 10px;
}

.btn-cont-don{
    background-color: rgb(15 118 110);
    color: white;
}

.odin-full-div{
    min-width: 576px;
    background-color: rgb(249 248 249);
}

li{
    list-style-type: none;
}

.footer-custom{
    min-width: 576px;
}

@media only screen and (max-width: 768px){
    .expect-texts, .expect-row-head, .odin-project-text{
        text-align: center;
    }
}