@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

.dark-mode {
    background-color: black;
    color: white;
}
.button1{
    background-color: rgb(7, 96, 7); 
    border-radius: 5px; 
    border: none;
}
.button2{
    background-color: rgb(7, 96, 7); 
    border-radius: 5px; 
    border: none;
    height: 45px;
    width: 120px;
    color: white;
}
.button25{
    background-color: white; 
    border-radius: 5px; 
    border: 1px solid rgba(111,111,111,0.2);
    height: 45px;
    width: 120px;
    color: white;
    margin-right: 20px;
}
section{
    background-color: rgb(244, 244, 244);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding-bottom: 15%;
    
}
.footers{
    justify-content: left;
    align-items: center; 
    padding-left: 20%;
    padding-right: 20%; 
    font-size: 16px;
}
@media only screen and (max-width:768px){
    .footers{
        padding-left: 4%;
        padding-right: 4%;

    }
}
.footera{
    text-decoration: none;
    color: rgb(56, 55, 55);
     margin-top: 20px;
     display: block;
}
.logo-txt{
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(31,41,55);
}
.logo-txt1{
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(31,41,55);
}
@media only screen and (min-width:990px){
.menuhide{
   display: none;
}
.offhide{
    display: none;
}
}
@media only screen and (max-width:1023px){
    .logo-txt{
        display: none;
    }
}
.paragraph{
    text-align: center;  
    margin-bottom: 2%; 
    margin-top: 2%;
    width: 700px;
    font-size: 18px;
}
.guides{
    background-color: rgb(253, 253, 253); 
    border-radius: 5px; 
    border: 1px solid rgba(111,111,111,0.2);
    
    height: 55px;
    width: 40%;
    margin: 10px;
    color: black;
}

.guides:hover{
    background-color: rgb(217, 217, 217);
}
#text1{
    padding-top: 2%;

}