*{
    margin: 0;
    padding: 0;
}

body{
   background-image: url(./community-images/odin.jpeg.jpg);
   background-size: cover;
}

.form-custom{
    
    background-color: #373636;
}
.formhead{
    display: none;
}
.registering-text{
    font-size: 12px;
}
.privacy-text{
    font-size: 14px;
}
.characters-text{
    font-size: 14px;
}
@media only screen and (max-width:478px){
    .form-custom-div{
        width: 100%;
        height: auto;
    } 
    
    .form-custom{
        
        height: 100vh;
    }
    nav{
        display: none;
    }
    body{
        background-image: none;
    }
}
                  