* {
    margin: 0px;
    padding: 0px;
}

.get-started-txt {
    background-color: rgb(15 118 110);
    color: white;

}

.odin-project-txt {
    font-size: 20px;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
}

.bnt-decor {
    border: none;
    display: none;
}

@media only screen and (max-width:1023px) {
    .display-none-txt {
        display: none;
    }
}

@media only screen and (max-width:992px) {
    .display-none-txt1 {
        display: none;
    }

    .bnt-decor {
        display: block;
    }



}

.small-img {
    text-align: center;
    width: 25px;

}

li {
    list-style: none;

}

.offcanvas-start {
    width: 300px;
}

a {
    text-decoration: none;
    color: inherit;
}