@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid; */

}

.navbar{
    min-width: 476px;
}

.odin-font{
    font-family: "Caesar Dressing", system-ui;
}

.nav-link{
    color: #6b8280;
}

.nav-link:hover{
    color: black;
}

.nav-hover-custom:hover{
    color: black;
    border-bottom: 2px solid #6b8280;
}

.nav-link:visited{
    color: #6b8280;
}

.nav-btn-custom{
    background-color: rgb(15 118 110);
    color: white;
}

.nav-btn-custom:hover{
    background-color: rgb(14, 105, 97);
}

.off-canvas-nav-item{
    display: none;
}

@media only screen and (max-width: 992px){

    .nav-odin-text{
        display: none;
    }
    
}

@media only screen and (max-width: 768px){

    .nav-item{
        display: none;
    }
    .off-canvas-nav-item{
        display: block;
    }
    
}

.list-grp-custom,.head-body-part{
    width: 60vw;
    min-width: 476px;
}

.list-head-custom{
    text-decoration: none;
}

.btn-cont-don{
    background-color: rgb(15 118 110);
    color: white;
}

.support-div{
    min-width: 476px;
    background-color: #e7e7e7;
}

li{
    list-style-type: none;
}

.footer-custom{
    min-width: 476px;
}
