.max-w-prose {
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}
.lilist{
    list-style-type: disc;
}

.linkmm{
    text-decoration: underline;
    color: blue;
}
.linkmm:hover{
    text-decoration: none;
    color: blue;
}